version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: academy
      POSTGRES_PASSWORD: academy
      POSTGRES_DB: electricity
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8088:8080
  
  backend:
      build:
        context: ./backend
        dockerfile: Dockerfile
      restart: always
      ports:
        - "8080:8080"
      environment:
        DB_HOST: db
        DB_PORT: 5432
        DB_USER: academy
        DB_PASSWORD: academy
        DB_NAME: electricity
        
        DATABASE_URL: "postgres://academy:academy@db:5432/electricity"
      depends_on:
        - db
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend